.PlayBtn {
  width: 440px;
  height: 120px;
  color: #ffffff;
  background-color: #FF3399;
  font-size: 30pt;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: inter_eduventure;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: -3rem;
  transition: all 0.2s ease-in;
}

.PlayBtn:hover {
  background-color: hsl(285, 100%, 50%);
  box-shadow: -5px -5px #ffffff inset;
}

.PlayBtn:active:hover {
  background-color: hsl(285, 100%, 50%);
  font-weight: 800;
  box-shadow: -10px -10px #ffffff inset;
}

.landing {
  background-color: #ffffff;
  background-image: url(../../assets/imgs/Decoratives/Vector\ 3.svg);
  background-position: center -50px;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inter_eduventure;
  font-size: 20pt;
  padding-top: 15rem;
}

.AboutDivContainer {
  background-image: linear-gradient(to bottom, #000017, #000033, #FF3399 120%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.AboutContainer {
  background-color: #ffffff;
  width: 60%;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TitleContainer {
  font-family: Kufam_eduventure;
  width: fit-content;
  color: #000033;
}

.TitleContainer h1 {
  text-shadow: 4px 4px 0px #ffffff, 8px 8px 0px #FF3399;
  font-size: 60pt;
  font-weight: 900;
  margin: 0;
}

.TitleUnderline1 {
  width: 100%;
  height: 10px;
  background-color: #000033;
  margin-top: -20px;
  border-radius: 0 10px 0px 0;
}

.TitleUnderline2 {
  width: 110%;
  height: 10px;
  background-color: #FF3399;
  margin-top: 0px;
  border-radius: 0 5px 5px 0;
}

.Paragraph {
  font-family: inter_eduventure;
  color: #000033;
  font-size: 20pt;

}

.TeamMembersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.NPCContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CommunityDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to bottom, #000017, #000033, #FF3399 120%);
}

.CommunityContainer {
  padding: 7.5% 5%;
  width: 70%;
}

.SectionTitle {
  color: #ffffffcc;
  height: 40px;
  font-family: inter_eduventure;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2.5% 0 1% 0;
  display: flex;
  align-items: center;
}

.SectionTitle .Communityicon {
  height: 100%;
  aspect-ratio: 1;
  margin-right: 1%;
  transition: all 400ms ease-out;
}

.CommunitySection:hover .SectionTitle {
  color: #FFFFFF;
}

.CommunitySection:hover .Communityicon {
  filter: contrast(164%) brightness(76%) saturate(200%) hue-rotate(160deg);
  scale: 130%;
}

.CommunityPlaceholder {
  width: 100%;
  height: 350px;
  background-color: #FFFFFF;
}

.GroupPageContainer {
  width: 100%;
  background-image: linear-gradient(to bottom, #000017, #000033, #FF3399 120%);
  display: flex;
  padding: 7.5% 0 0 0 ;
}

.GroupInfoSidebar {
  width: 30%;
  padding-bottom: 7.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0, 0, 51, 0.18) 10%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.6px);
  -webkit-backdrop-filter: blur(19.6px);
  border: 1px solid rgba(0, 0, 51, 0.07);
  color: #FFFFFF;
}

.GroupInfoSidebar img {
  width: 80%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 5px 5px 25px #00000072;
}
.GroupNameTitle{
  font-size: 32pt;
  width: 80%;
}
.GroupDescParagraph{
  width: 70%
}
.GroupPostContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 0 2% 7.5% 2%;
}

.NewsPageContainer{
  width: 100%;
  background-image: linear-gradient(to bottom, #000017, #000033, #FF3399 120%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NewsContainerP{
  width: 60%;
  padding:7.5% 5%;
  background-color: white;
  height:max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 3%;
  overflow-y: hidden;
}
.NewsItemPageContainer{
  width: 100%;
  background-image: linear-gradient(to bottom, #000017, #000033, #FF3399 120%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NewsItemContainer{
  width: 60%;
  padding:7.5% 5%;
  background-color: white;
  height:max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 3rem;
  overflow-y: hidden;
}
.NewsItemHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  font-family: inter_eduventure;
}
.NewsItemHeader img{
  width: 40%;
  object-fit: cover;
}
.NewsItemHeaderTextPart{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.NewsItemHeader h1{
  font-size: 6rem;
  color: #000033;
}
.NewsItemHeader h3{
  font-size: 2rem;
  color: #000033;
}
.NewsItemContainer p{
  font-size: 2rem;
  color: #000033;
}
.NewsItemDetailsContainer{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.LeaderboardsPage{
  width: 100%;
  background-image: linear-gradient(to bottom, #000017, #000033, #FF3399 120%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LeaderboardContainer{
  width: 60%;
  padding:7.5% 5%;
  background-color: white;
  height:max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 3rem;
  overflow-y: hidden;
  align-items: center;
}

.Leaders{
  font-family: inter_eduventure;
  font-weight: 400;
  font-size: 15pt;
  color: #000033;
  display: flex;
  flex-direction: column;
  gap :1rem
}
.togglerbutton{
  display: flex;
  flex-direction: row;
  height: 3rem;
  width:12rem;
}
.redbutton{
  background-color: #800a0a;
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px ;
}
.yellowbutton{
  background-color: #797d0c;
  width: 50%;
  height: 100%;
  border-radius: 0 20px 20px 0 ;

}
.pressed{
  box-shadow: inset black 0px 0px 60px -12px; 
}
.redbutton:hover ,.yellowbutton:hover{
  filter: brightness(1.25);
  cursor:pointer;
}

.modal{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: #0000173c;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
}
.popuuup{
  background-image: url("../../assets/imgs/PopUp.png");
  width: 80%;
  display: flex;
  height:550px;
  justify-content: center;

}
.popuuupcontents{
  padding-top: 20rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.postsgroupedContainer{
  padding: 7.5% 5%;
  width: 90%;
  background-image: linear-gradient(to bottom, #000017, #000033, #FF3399 120%);
  display: flex;
  flex-direction: column;
  align-items: center;

}
.writepostbtn{
  width: 40%;
  background-color: #000033;
  color: #FF3399;
  text-align: center;
  font-family: kufam_eduventure;
  font-weight: 600;
  font-size: 30pt;
  padding: 2rem 0;
  border-radius: 20px;
cursor: pointer;
transition: all 400ms ease-in-out;
margin: auto;
}
.writepostbtn:hover{
  background-color: #08084a;

}