.BigMessageSignStyle {
    font-family: Kufam_eduventure;
    font-size: 120pt;
    font-weight: 1000;
    text-transform: uppercase;
    line-height: 85%;
    color: #ffffff;
    font-kerning: normal;
    margin-left: 70px;
    margin-top: 300px;
  }
  