body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: inter_eduventure;
  src: url(./assets/Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: Kufam_eduventure;
  src: url(./assets/Fonts/Kufam-VariableFont_wght.ttf);
}
.platebox {
  height: 77.7vh;
  width: 36.4vw;
  background-color: #ffffff;
  background-image: url(./assets/imgs/Decoratives/plateBackground.png);
  border-radius: 10px;
  margin-left: 55%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
  align-items: center;
  justify-content: space-between;
}
.inputFormContainer{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.visualFeedbackInputForm{
  font-family: inter_eduventure;
  font-weight: 400;
  color: #000033;
  text-align:center;
  width: 85%;
}
.inputForm {
  height: 50px;
  width: 85%;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  background-color: #ECECEC;
  color: #000033;
  border: none;
  outline: none;
  box-shadow: none
}

.inputFormFalse {
  height: 50px;
  width: 85%;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  background-color: #ECECEC;
  color: #000033;
  border: none;
  outline: 2px red solid;
  box-shadow: none
}

.dateInput {
  height: 50px;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  background-color: #ECECEC;
  color: #000033;
  border: none;
  outline: none;
  box-shadow: none
}

.proceedbtn {
  height: 120px;
  width: 120px;
  background-color: #66CCCC;
  color: #000033;
  border-radius: 33px;
  transition: all 0.2s ease-in;
  border: none;
  outline: none;
  box-shadow: none
}

.proceedbtn:hover {
  height: 120px;
  width: 120px;
  background-color: #ADFFFF;
  cursor: pointer
}

.SignUpdev {
  background-color: #FF3399;
  background-image: url(./assets/imgs/Decoratives/Vector\ 1.svg);
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.LogIndev {
  background-color: #FF3399;
  background-image: url(./assets/imgs/Decoratives/Vector\ 2.svg);
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.socialmedia {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  width: fit-content;
  padding: 0;
  margin: auto;
}

.socialmedia li {
  list-style: none;
  margin-top: 2rem;
}


.SettingsBtn {
  width: 90px;
  height: 90px;
  background-color: #000033;
  border-radius: 20px;
  transition: all 100ms ease-in-out;
  position: relative;
}

.SettingsBtn:hover {
  background-color: #FF3399;
}
.dropdownSetting{
  width: 90px;
  height: fit-content;
  font-size: 10pt;
  position: absolute;
  display: flex;
  flex-direction:column;
  text-align: center;
  margin-top: 11rem;
  margin-left: 23.5rem;
  gap: 0.5rem;
  background-color: #FFFFFF;
  color: #000033;
}
.itemdds:hover{
  background-color: #b4b4b4;
}
.profilePicNavBarcontainer {
  width: 90px;
  height: 90px;
  background-color: #FFFFFF;
  border-radius: 90px;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  display: flex;
}

.userImgNavBar {
  width: 100%;
}

.userImgNavBar:hover {
  opacity: 75%;

}
