body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: inter_eduventure;
  src: url(./assets/Fonts/Inter-VariableFont_slnt\,wght.ttf);
} 
@font-face {
  font-family: Kufam_eduventure;
  src: url(./assets/Fonts/Kufam-VariableFont_wght.ttf);
} 
.signUpBtn{
  width:220px;
  height:90px;
  color:#000033;
  background-color:#66CCCC;
  font-size:30pt;
  border-radius:20px;
  text-transform: uppercase;
  font-family: inter_eduventure;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: none;
  transition: all 0.2s ease-in;
}
.logInBtn{
  width:220px;
  height:90px;
  color:#000033;
  background-color:#FF3399;
  font-size:30pt;
  border-radius:20px;
  text-transform: uppercase;
  font-family: inter_eduventure;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: none;
  transition: all 0.2s ease-in;

}
.logInBtn:hover{
    background-color:#ffffff;
    box-shadow: -5px -5px  #FF3399 inset;
  }
  .logInBtn:active:hover{
    background-color:#ffffff;
    font-weight: 800;
    box-shadow: -10px -10px  #FF3399 inset;
  }

.signUpBtn:hover{
  color:#66CCCC;
  background-color:#000033;
  box-shadow: -5px -5px  #66CCCC inset;
}
.signUpBtn:active:hover{
  color:#66CCCC;
  background-color:#000033;
  font-weight: 800;
  box-shadow: -10px -10px  #66CCCC inset;
}

.platebox{
  height: 840px;
  width: 700px;
  background-color:#ffffff;
  background-image:url(./assets/imgs/plateBackground.png) ;
  border-radius:10px;
  margin-left: 55%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor:default;
}
.inputForm{
  height: 50px;
  width: 600px;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  margin-left: 50px;
  background-color: #ECECEC;
  color:#000033;
  border: none;
  outline: none;
  box-shadow: none
}
.inputFormFalse{
  height: 50px;
  width: 600px;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  margin-left: 50px;
  background-color: #ECECEC;
  color:#000033;
  border: none;
  outline: 2px red solid;
  box-shadow: none
}

.proceedbtn{
  height: 120px;
  width: 120px;
  background-color:#66CCCC;
  color:#000033;
  border-radius: 33px;
  transition: all 0.2s ease-in;
  border: none;
  outline: none;
  box-shadow: none

}
.proceedbtn:hover{
  height: 120px;
  width: 120px;
  background-color:#ADFFFF;
  cursor:pointer
}
.BigMessageSignStyle{
  font-family: Kufam_eduventure;
  font-size: 120pt;
  font-weight: 1000;
  text-transform: uppercase;
  line-height: 85%;
  color: #ffffff;
  font-kerning: normal;
  margin-left: 70px;
  margin-top: 300px;
}
.Maindev{
  background-color:#FF3399;
  background-image:url(assets/Vector\ 1.svg) ;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}