body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: inter_eduventure;
  src: url(./assets/Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Kufam_eduventure;
  src: url(./assets/Fonts/Kufam-VariableFont_wght.ttf);
}
.platebox {
  height: 840px;
  width: 700px;
  background-color: #ffffff;
  background-image: url(./assets/imgs/Decoratives/plateBackground.png);
  border-radius: 10px;
  margin-left: 55%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
}

.inputForm {
  height: 50px;
  width: 600px;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  margin-left: 50px;
  background-color: #ECECEC;
  color: #000033;
  border: none;
  outline: none;
  box-shadow: none
}

.inputFormFalse {
  height: 50px;
  width: 600px;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  margin-left: 50px;
  background-color: #ECECEC;
  color: #000033;
  border: none;
  outline: 2px red solid;
  box-shadow: none
}

.dateInput {
  height: 50px;
  padding: 5px 5px 5px 10px;
  font-family: inter_eduventure;
  font-weight: 500;
  font-size: 18pt;
  border-radius: 5px;
  background-color: #ECECEC;
  color: #000033;
  border: none;
  outline: none;
  box-shadow: none
}

.proceedbtn {
  height: 120px;
  width: 120px;
  background-color: #66CCCC;
  color: #000033;
  border-radius: 33px;
  transition: all 0.2s ease-in;
  border: none;
  outline: none;
  box-shadow: none
}

.proceedbtn:hover {
  height: 120px;
  width: 120px;
  background-color: #ADFFFF;
  cursor: pointer
}

.SignUpdev {
  background-color: #FF3399;
  background-image: url(./assets/imgs/Decoratives/Vector\ 1.svg);
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.LogIndev {
  background-color: #FF3399;
  background-image: url(./assets/imgs/Decoratives/Vector\ 2.svg);
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.HomePageDiv {
  background-color: #ffffff;
  background-image: url(./assets/imgs/Decoratives/Vector\ 3.svg);
  background-position: top;
  background-repeat: no-repeat;
  overflow-x: hidden;

  width: 100%;
  height: fit-content;

}

.landing {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: table;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inter_eduventure;
  font-size: 20pt;
  margin-top: 5rem;

}

.PlayBtn {
  width: 440px;
  height: 120px;
  color: #ffffff;
  background-color: #FF3399;
  font-size: 30pt;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: inter_eduventure;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: -3rem;
  transition: all 0.2s ease-in;
  z-index: 1;

}

.PlayBtn:hover {
  background-color: hsl(285, 100%, 50%);
  box-shadow: -5px -5px #ffffff inset;
}

.PlayBtn:active:hover {
  background-color: hsl(285, 100%, 50%);
  font-weight: 800;
  box-shadow: -10px -10px #ffffff inset;
}


.socialmedia {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  width: fit-content;
  padding: 0;
  margin: auto;
}

.socialmedia li {
  list-style: none;
  margin-top: 2rem;
}


.SettingsBtn {
  width: 90px;
  height: 90px;
  background-color: #000033;
  border-radius: 20px;
  transition: all 100ms ease-in-out;
}

.SettingsBtn:hover {
  background-color: #FF3399;
}

.profilePicNavBarcontainer {
  width: 90px;
  height: 90px;
  background-color: #FFFFFF;
  border-radius: 90px;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  display: flex;
}

.userImgNavBar {
  width: 100%;
}

.userImgNavBar:hover {
  opacity: 75%;

}

.Profile {
  width: 60%;
  height: fit-content;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Profileboxbackground {
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(10px);
  width: 60%;
  height: 200vh;  
  margin-left: 20vw;
  margin-right: 20vw;
  z-index: 0;
  position: absolute;
}

.fullInfoBox {
  width: 55vw;
  margin-top: 70px;
  display: inline-flex;
  justify-content: center;
  gap: 50px;
}

.infobox {
  text-transform: uppercase;
  text-align: left;
  z-index: 1;
}

.infobox h1 {
  margin: 0
}

.progressBar {
  width: 25vw;
  height: 25px;
  background-color: #D9D9D9;
  border-radius: 50vh;
  margin: 0
}

.progressBar::before {
  content: "";
  display: flex;
  align-items: center;
  width: calc(var(--width, 0) * 25vw);
  height: inherit;
  min-width: 2rem;
  max-width: calc(25vw - 1vw);
  background-color: #FF3399;
  border-radius: 50vh;
}

.UserSubjectLevelsContainer {
  color: #ffffff;
  width: 55vw;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  z-index: 1;
  margin-bottom: 10px;
}

.subjectlevelprogress {
  width: 36vw;
  height: 13px;
  background-color: #000017;
  border-radius: 13px;
  margin-left: 30rem;
}

.subjectlevelprogress::before {
  content: "";
  display: flex;
  align-items: center;
  width: calc(var(--width, 0) * 25vw);
  height: inherit;
  min-width: 2rem;
  max-width: calc(25vw - 1vw);
  background-color: #ADFFFF;
  border-radius: 50vh;
}

.personalizedContent {
  width: 55vw;
  display: inline-flex;
  justify-content: space-between;
  z-index: 1;
  margin-top: 30px;
}

.profileShowcase {
  width: 66%;
  display: table;


}

.profileSideinfo {
  width: 30%;
  height: 300px;
  background-color: #000033;
  border-radius: 20px;
  padding: 25px 0px;
  text-align: left;
  display: table;
}

.profileSideinfotext {
  color: #ffffff;
  font-family: inter_eduventure;
  font-weight: 700;
  font-size: 18pt;
  padding-left: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: fit-content;
}

.profileSideinfotext:hover {
  color: #ffffff;
  background-color: #000022;
}

.profileSideinfotext h1 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 30pt;
  margin-left: 5px;
}

.profileShowcaseHeader {
  background-image: linear-gradient(90deg, var(--var1, #000) 0%, var(--var2, #000) 100%);
  background-size: 150%;
  background-position: left;
  width: 100%;
  height: 50px;
  border-radius: 20px 20px 0px 0px;
  text-align: left;
  line-height: 50px;
  text-transform: uppercase;
  transition: background-position 500ms ease-in;
  cursor: pointer;
  color: #FF3399;

}

.profileShowcaseHeader p {
  font-family: inter_eduventure;
  font-weight: 600;
  font-size: 20pt;
  padding-left: 10px;
  width: fit-content;
}
.profileShowcaseHeader p:hover {
  text-decoration: underline;
  font-weight: 700;
  color: hsl(330, 100%, 80%);
}
.profileShowcaseHeader:hover {
  background-position: 50%;
}
.profileShowcaseBody {
  background-color: var(--var2, 0);
  background: linear-gradient(45deg, var(--var1, #000) -35%, var(--var2, #000) 80%);
  width: 100%;
  max-height: 151px;
  border-radius: 0px 0px 20px 20px;
padding: 5px 0;  }
.profileShowcaseitemContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.profileShowcaseBody .items {
  width: 13%;
  height: fit-content;
  aspect-ratio: 1/1;
  background-color: #ECECEC;
}
.profileShowcaseBody .itemsHighlight {
  width: 13%;
  height: fit-content;
  aspect-ratio: 1/1;
  background-color: #ECECEC;
  box-shadow: 0px 0px 30px #FF3399;
}
.profileShowcasetext h1{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20pt;
  width: fit-content;
  padding-left: 2rem;
  margin: 0;
  text-align: left;  
  text-transform: uppercase;
}
.profileShowcasetext h3{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 15pt;
  width: fit-content;
  padding-right: 2rem;
  margin: 0;
  text-align: right;
  text-transform: uppercase;

}
.profileShowcasetext{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;

}